.emptyTableMessage {
    font-weight: bold;
    opacity: 50%;
  }
  
  :host {
    display: block;
  
    section.consulta-container {
      header {
        overflow: hidden;
  
        div.consulta-container__header {
          background-color: var(--lighter-grey);
          border-bottom: 1px solid var(--light-grey);
          width: 100%;
  
          .consulta-container__title-wrapper {
            h2.consulta-container__title {
              font-weight: 600;
              font-size: 2rem;
              text-transform: uppercase;
              margin: 0;
              padding-left: 60px;
            }
            min-height: 4.5rem;
          }
        }
      }
  
      section.consulta-container__body {
        position: relative;
  
        &::before {
          content: " ";
          position: absolute;
          display: block;
          top: var(--gutter);
          left: 0;
          width: 100%;
          height: 38px;
          background-color: var(--lighter-grey);
          border-bottom: 1px solid var(--light-grey);
        }
  
        .consulta-container__tab-header {
          .consulta-container__tab-header-title,
          .consulta-container__tab-header-step {
            display: block;
          }
  
          .consulta-container__tab-header-step {
            display: block;
            font-size: 0.857143rem;
            line-height: 0.857143rem;
  
            height: 1.29rem;
            width: 1.29rem;
  
            background: var(--primary);
            border-radius: 50%;
            color: var(--white);
          }
        }
      }
    }
  }
  